doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="css/style.css")
        link(rel="icon", type="image/png", href="images/favicon-32x32.png")
    body
        main.main
            .container
                button.theme-switch#btnThemeSwitch(aria-label="Change view theme")
                    .theme-switch__slider
                .dashboard
                    .dashboard__wrapper 
                        header.dashboard__header
                            .dashboard__header__person
                                .person
                                    .person__wrapper
                                        .person__img 
                                            img(src="images/image-jeremy.png", alt="Happy Jeremy")
                                        .person__info
                                            .person__label Report for
                                            .person__name Jeremy Robson
                            .dashboard__header__menu

                        .dashboard__cards 
                            p Loading...
        footer.footer
            .attribution Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a> Coded by <a href="https://github.com/nmorajda">N. Morajda</a>.

        script(src="js/main.js")
